 
  body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #2c2c2c;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #000000;
      font-weight: 600;
      margin-bottom: 30px;
      text-align: center;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #000000;
      font-weight: 400;
      margin-bottom: 30px;
  }
  .jumbotron {
    background: linear-gradient(262deg, #2a432f, #000000);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 12s ease infinite;
    -moz-animation: AnimationName 12s ease infinite;
    -o-animation: AnimationName 12s ease infinite;
    animation: AnimationName 12s ease infinite;



      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      text-align: center;
      padding: 60px 50px;
      border-radius: center;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #ffffff;
      font-size: 50px;
  }
  .logo {
      color: #ffffff;
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #ffffff;
  }
  .carousel-indicators li {
      border-color: #ffffff;
  }
  .carousel-indicators li.active {
      background-color: #ffffff;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .panel {
      border: 1px solid #000000;
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #000000;
      background-color: #fff !important;
      color: #000000;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #000000 !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: rgb(139, 90, 90) !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #701ef4;
      color: #fff;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #000000;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: rgb(255, 255, 255) !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #01a535 !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
    background: linear-gradient(269deg, #2a432f, #000000);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 55s ease infinite;
    -moz-animation: AnimationName 55s ease infinite;
    -o-animation: AnimationName 55s ease infinite;
    animation: AnimationName 55s ease infinite;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 1000px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
		
    }
  }

  .navbar-brand img{
	  height : 30px;
	  width : 130px;
  }
  a#aa{
    color: white;
    text-decoration: none;
  }
  
  a{
    color: white;
    text-decoration: none;
  }
  body#myPage.shortPage{
    background: linear-gradient(262deg, #2a432f, #000000);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 12s ease infinite;
    -moz-animation: AnimationName 12s ease infinite;
    -o-animation: AnimationName 12s ease infinite;
    animation: AnimationName 12s ease infinite;
  }

  @-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}